<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Posts</h1>
      <% @articles.each do |article| %>
        <a href="<%= article_path(article) %>" class="post-link">
          <div class="post">
            <h3 class="post-title">
              <%= article.title %>
            </h3>
            <div class="post-info">
              <p><%= getCustomStrftime(article.created_at) %></p>
            </div>
            <div class="post-text">
              <%= truncate(stripdown(article.text), :length => 200, :separator => ' ', :omission => '') %>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>