/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$font-family-sans-serif: "Nunito Sans", "微軟雅黑","Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}

body {
  padding-top: 50px;
}

h1,h2,h3,h4,h5,h6 {
  line-height:1.6
}

p {
  font-size: 18px;
  line-height: 1.6;
}

ol {
  list-style-type: decimal;
  padding-left: 40px;
  margin-top: 1em;
  margin-bottom: 1em;
  li {
    font-size: 18px;
    margin-top: 1.4em;
    margin-bottom: 1.4em;
  }
}

footer {
  height: 100px;
  padding-top: 20px;
  font-size: 16px;
}
$navbar-brand-hover: #1976D2;
.navbar-default {
  background-color: #ffffff;
  border-color: #cccccc;
}
.navbar-default .navbar-brand {
  color: #1E88E5;
  font-size: 30px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: $navbar-brand-hover;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $navbar-brand-hover;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $navbar-brand-hover;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: $navbar-brand-hover;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #c71f16;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c71f16;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c71f16;
    background-color: #ffffff;
  }
}

.centered-text {
  text-align: center;
}
.centered-block {
  display: block;
  margin: 0 auto;
}

.anchor {
  font-size: 16px;
  color: #ffffff;
}

.anchor:hover, .anchor:focus {
  color: #333333;
}

figure {
  margin-bottom: 20px;
}

.highlight {
  font-size: 1.5em;
}

ul.social-network {
  display: inline;
  width: 5em;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding-left: 0;
  font-size: 18px;
  li {
    display: inline;
    a.social-icon {
      color: black;
      &:hover, &:focus, &:active {
        color: #4183c4;
      }
    }
  }
}
