.post-link {
  
  &:hover {
    text-decoration: none;
    .post .post-title {
      color: #1E88E5;
    }
  }
  .post {
    margin-bottom: 30px;
    .post-title {
      font-weight: bold;
      color: #333;
    }
    .post-info {
      color: #9E9E9E;
      p {
        font-size: 16px;
      }
    }
    .post-text {
      color: #333;
    }
  }
  
}

.img-centerable {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 10em;
}

.avatar-img {
  margin-top: 2em;
  margin-bottom: 2em;
}

header.intro {
  min-height: 100%;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-image: image-url("george.jpg");
  position: relative;
  width: 100%;
  text-align: center;
  .header-content {
    position: absolute;
    top: 45%;
    width: 100%;
    
    .header-content-inner {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      h1 {
        font-size: 50px;
        span {
          color: #2196F3;
        }
      }
      p {
        color: rgba(255,255,255,.87);

      }
    }
  }
  .header-content-bottom {
    width: 100%;
    position: absolute;
    bottom: 10%;
    a {
      font-size: 20px;
      color: rgba(0, 0, 0, .7);
      &:hover {
        color: rgba(0, 0, 0, 1);
      }
    }
  }
}

#recent, #about {
  padding-top: 50px;
  margin-bottom: 50px;
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
}

.aboutme {
  .bio {
    background-color: white;
  }
}
.hashtag {
  color: #9f9f9f;
}