<footer>
  <div class="row">
    <div class="col-md-12 centered-text">
    <p>
      <ul class="social-network">
        <li><a class="social-icon" href="https://github.com/georgechang0117" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a class="social-icon" href="https://tw.linkedin.com/in/georgechang0117" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="social-icon" href="https://www.instagram.com/georgechang.ig" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a class="social-icon" data-container="body" data-toggle="popover" data-placement="top" data-content="georgechang0117(at)gmail(dot)com"><i class="fa fa-envelope"></i></a></li>
      </ul>
      <span>&copy; <%= Time.now.year %> George Note</span>
     </p>
    </div>
  </div>
</footer>